/* src/components/HackerLoader.css */
.terminal {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: green;
}

.terminal-container {
  width: 80%; /* Adjust width as needed */
  max-width: 600px; /* Adjust max-width as needed */
  padding: 16px;
  border: 1px solid green;
  background-color: black;
}

.output {
  width: 100%;
}

.line {
  font-family: 'Courier New', Courier, monospace;
}

.blinking-cursor {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to {
    border-right-color: transparent;
  }
  50% {
    border-right-color: green;
  }
}
