/* src/components/HackerLoader.css */
.loader {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-container {
  width: 80%; /* Adjust width as needed */
  height: 1px; /* Adjust height to one line */
  background-color: #333;
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
}

.loading-bar {
  height: 100%;
  background: linear-gradient(90deg, rgba(0,255,0,1) 0%, rgba(255,255,255,1) 50%, rgba(0,255,0,1) 100%);
  background-size: 200% 100%;
  animation: flow 1.5s infinite;
  transition: width 0.1s ease-in-out;
}

@keyframes flow {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
