
@keyframes gradientTextAnimation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  .gradient-text {
    background: linear-gradient(45deg, #ff0080, #ff8c00, #00bfff, #7fff00, #ff00ff);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientTextAnimation 3s linear infinite;
    font-weight: bolder; /* Optional, to make the gradient more prominent */
  }
  